html {
  --main-black-color: #3d4955;
  --main-blue-color: #5f6fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  font-size: 16px;
  color: var(--main-black-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Header */

.header {
  padding: 15px 0;
  border-bottom: 10px solid var(--main-black-color);
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__img-holder {
  max-width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 150px;
}

.header__title {
  font-weight: 600;
  font-size: 84px;
  margin-bottom: 14px;
}

.header__subtitle {
  font-weight: 600;
  font-size: 54px;
  color: var(--main-blue-color);
  margin-bottom: 20px;
}

.header__contacts-list {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 12px 70px;
}

.header__contacts-item {
  display: flex;
  align-items: center;
}

.header__link-icon {
  margin-right: 10px;
  width: 34px;
}

.header__contacts-link {
  font-weight: 600;
  font-size: 24px;
  color: #3d4955;
}
